body{
  background-color: #F5EEF8  ;
}
/*Inicio Titulos*/
            /*Inicio movil*/
.caja_titulo{
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  background-image: url("fondo titulo logo.jpg");
  padding-top: 10px;
}
.titulo{
width: 100%;
color: White;
}
.audio{
  display: none;
}
            /*fin movil*/
@media only screen and (min-width:501px){
  .caja_titulo{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    justify-content: center;
    background-image: url("fondo titulo logo.jpg");
    padding-top: 10px;
  }
.titulo{
  width: 100%;
  color: White;
}
.audio{
  display: inline;
}
            /* Inicio animacion titulo*/
@keyframes animacion_logo {
50%{
transform: rotate(15deg);
}
}
.logo{
animation-name: animacion_logo;
animation-iteration-count: infinite;
animation-timing-function: ease-in;
animation-duration: 3s;
animation-delay: 0s;
animation-direction: normal;
}

}
            /* Fin animacion titulo*/
/*Fin Titulos*/

/*Inicio Lista del menu principal*/
                /*inicio movil*/
.menu_principal{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  font-size: 150%;
  font-weight: bold;
  background-image: url("banner.jpg");
  text-align: center;
  font-size: 18px;
}
.lista_menu_tortas {
  list-style: none;
}

.lista_menu_postres {
  list-style: none;
}

.lista_menu_pasteles{
  list-style: none;
}

.lista_menu_banqueteria {
  list-style: none;
}


            /*fin movil*/
@media only screen and (min-width:501px){
.menu_principal{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  font-size: 150%;
  font-weight: bold;
  background-image: url("banner.jpg");
  text-align: center;
}

.lista_menu_tortas {
  list-style: none;
}

.lista_menu_postres {
  list-style: none;
}

.lista_menu_pasteles{
  list-style: none;
}

.lista_menu_banqueteria {
  list-style: none;
}

}
/*Fin Lista del menu principal*/


/*Inicio contenido*/
              /*inicio movil*/
h3{
  padding-right: 400px;
  margin-right: 400px;
  width: 400px;
  display: inline-block;
}
.ordenador{
  display: inline-block;
}
.caja_contenido{
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  border-style: solid;
  border-color: #F5B7B1;
  border-top-width: 5px;
  border-right-width: 5px ;
  border-bottom-width: 5px;
  border-left-width: 5px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 10px;
}
.caja_contenido div ul li{
  list-style: none;
}
dt{
  font-weight: bold;
}
            /*fin movil*/
@media only screen and (min-width:501px){
  h3{
    padding-right: 400px;
    margin-right: 400px;
    width: 400px;
    display: inline-block;
  }
  .ordenador{
    float: right;
  }
  .caja_contenido{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr;
    text-align: center;
    border-style: solid;
    border-color: #F5B7B1;
    border-top-width: 5px;
    border-right-width: 5px ;
    border-bottom-width: 5px;
    border-left-width: 5px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 10 px;
  }
  .caja_contenido div ul li{
    list-style: none;
  }
  dt{
    font-weight: bold;
  }
/*Fin contenido*/

/*Inicio contacto*/
.seccion_contacto{
  display: grid;
  grid-template-columns: 1fr;
  background-color: #AF7AC5;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media only screen and (min-width:501px){
  .seccion_contacto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #D7BDE2;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
/*Fin contacto*/

/*inicio formilario contacto*/

.formulario{
display: grid;
grid-template-columns: 1fr;
justify-content: center;
background-color: #F4ECF7;
}

@media only screen and (min-width:501px){
.formulario{
display: grid;
grid-template-columns: 1fr;
justify-content: center;
margin-left: 200px;
margin-right: 200px;
background-color: #D7BDE2;
}
}
/*Fin formilario contacto*/
